.background {
	-fx-background-color: #20243d;
}

.label {
	-fx-font-size: 11pt;
	-fx-font-family: "Lato";
	-fx-text-fill: white;
	-fx-opacity: 0.6;
}

.label-bright {
	-fx-font-size: 11pt;
	-fx-font-family: "Lato";
	-fx-text-fill: white;
	-fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Lato Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: #20243d;
    -fx-control-inner-background: #20243d;
    -fx-background-color: #20243d;
    -fx-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 10pt;
    -fx-font-family: "Lato";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane > .split-pane-divider {
    -fx-border-color: transparent #20243d transparent #20243d;
    -fx-background-color: transparent, derive(#20243d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#20243d,20%);
}

.context-menu {
    -fx-background-color: derive(#20243d,50%);
}

.menu-item .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Lato Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Lato Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Lato";
}

/* 
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-style: none;
    -fx-background-radius: 4px;
    -fx-background-color: white;
    -fx-font-family: "Lato";
    -fx-font-size: 11pt;
    -fx-text-fill: black;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #ecf0f1;
}

.button:pressed {
  -fx-background-color: #bdc3c7;
  -fx-text-fill: derive(black, 20%);
}

.button:focused {
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.6;
    -fx-background-color: #95a5a6;
    -fx-text-fill: black;
}

.button:default {
    -fx-background-color: #cc344c;
    -fx-text-fill: white;
    -fx-font-weight: 3;
}

.button:default:hover {
    -fx-background-color: derive(#cc344c,30%);
}

.button:default:hover:pressed {
  -fx-background-color: #7f8c8d;
  -fx-text-fill: derive(white, 20%);
}


.toggle-button {
    -fx-padding: 5 22 5 22;
    -fx-border-width: 0;
    -fx-background-radius: 4px;
    -fx-background-color: white;
    -fx-font-family: "Lato";
    -fx-font-size: 11pt;
    -fx-text-fill: black;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.toggle-button:hover {
    -fx-background-color: #3a3a3a;
}

.toggle-button:pressed, .toggle-button:default:hover:pressed {
  -fx-background-color: black;
  -fx-text-fill: #20243d;
}

.toggle-button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.toggle-button:selected {
	-fx-border-color: derive(-fx-focus-color,50%);
}


.choice-box .list-cell 
{
    -fx-background-color: transparent;
    -fx-cell-size: 1.66667em; 
    -fx-font-family: "Lato";
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 2em; 
}

.choice-box .context-menu .list-view 
{
    -fx-background-color: white, derive(#20243d,50%);
    -fx-background-insets: 0, 1;
}

.choice-box .context-menu .list-view .list-cell:filled:hover 
{
    -fx-background-color: -fx-focus-color;
}

.choice-box {
    -fx-padding: 0;   
    -fx-border-style: none;
    -fx-background-radius: 17px;
    -fx-background-color: #16a085;
    -fx-background-insets: 0;
}

.choice-box:hover
{
    -fx-background-color: #1abc9c;
}

.choice-box:focused {
}

.total-row {
    -fx-font-family: "Lato";
    -fx-font-size: 32pt;
}

/* Alerts */
.dialog-pane {
    -fx-background-color: #20243d;
}

.dialog-pane .label {
    -fx-text-fill: white;
}

.dialog-pane:header .header-panel {
    -fx-background-color: #20243d;
}

.dialog-pane:header .header-panel .label {
    -fx-font-size: 20;
    -fx-font-family: "Lato Light";
}



.tree-table-view {
    -fx-base: #20243d;
    -fx-control-inner-background: #20243d;
    -fx-background-color: #20243d;
    -fx-border-color: transparent;
    -fx-padding: 5;
}

.tree-table-view .column-header-background {
    -fx-background-color: transparent;
}

.tree-table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.tree-table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Lato Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.tree-table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}



.tool-bar {
	-fx-background-color: #20243d;
}


.tab {
	-fx-border-style: none;
	-fx-border-width: 0;
	
	-fx-background-color: transparent;
	-fx-padding: 8px;
}

.tab:selected {
	-fx-border-width: 0 0 3 0;
	-fx-border-color: #14a8ad;
	-fx-background-color: #515a7b;
	-fx-background-radius: 0;
}

.tab:selected .focus-indicator {
	-fx-border-width: 0;
}

.tab-label {
	-fx-text-fill: white;
    -fx-font-size: 12pt;
    -fx-font-family: "Lato";
	-fx-padding: -5px;
}

.tab-pane {
	-fx-tab-min-width: 90.0;
	-fx-tab-min-height: 40.0;
}

.tab-header-area {
	-fx-padding: 16 32 16 32;
}

.tab-header-background {
	-fx-background-color: #394263;
	-fx-background-radius: 4px;
	-fx-background-insets: 16;
}


.panel {
	-fx-background-color: #394263;
	-fx-background-radius: 4px;
	-fx-background-insets: 10px;
	-fx-padding: 20px;
}


.big-button {
	-fx-graphic-text-gap: 4px;
	-fx-font-size: 10pt;
	-fx-padding: 4;
	
	-fx-alignment: bottom-center;
	-fx-content-display: top;
}

.search-field {
	-fx-background-radius: 0px;
	-fx-background-color: white, white, white;
	-fx-border-style: none;
	-fx-padding: 3;
    -fx-font-size: 10pt;
}

.search-field:focused {
	-fx-border-style: none;
	-fx-background-insets: 0;
}


.bordered {
	-fx-border-style: solid;
	-fx-border-color: rgb(192,192,192);
	-fx-border-radius: 5;
	-fx-border-insets: -3;
}