/* Alerts */
.dialog-pane {
    -fx-background-color: #20243d;
}

.dialog-pane .label {
    -fx-text-fill: white;
}

.dialog-pane:header .header-panel {
    -fx-background-color: #20243d;
}

.dialog-pane:header .header-panel .label {
    -fx-font-size: 20;
    -fx-font-family: "Lato Light";
}